<% @users.each do |e| %>
    <p>
        <%= e.uid %>
        <%= e.pass %>
        <%= link_to 'ユーザーの削除', user_path(e.id), method: :delete %>
    </p>
<% end %>
<p>
    <%= link_to '新規登録', new_user_path %>
</p>
